* {
    width: 100%;
}

.auth {
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 100vh;
    background-color: #f9fbff;
}

.logo {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 7rem;
    margin-bottom: 1.5rem;
}

.logo .title {
    margin: 0 auto;
    width: fit-content;
    background: -webkit-linear-gradient(top left, #32499a, #7986ff, #d3deff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.75rem;
    font-family: "BMDOHYEON";
}

.logo .subtitle {
    color: #32499a;
    letter-spacing: 0.1em;
    font-size: 1.25rem;
}

.bold {
    font-weight: 700;
}

.form {
    width: 18vw;
    margin: 0 1rem;
}

.actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}