.tabs {
    margin-left: 4.75rem;
    margin-bottom: -1.75rem;
    z-index: 20;
    width: auto;
}

.tab {
    color: #7986FF;
    background-color: #E8F1FF;
    line-height: 1.75rem;
    margin-right: 0.25rem;
    padding: 0.5rem 1.5rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: "Spoqa Han Sans Neo", sans-serif;
    font-weight: bolder;
    border: none;
    border-radius: 0.5rem 0.5rem 0 0;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-out;
    /* box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25); */
}

.tab:hover {
    background-color: #D3DEFF;
}

.active {
    /* background-color: #7986ff; */
    background-color: #ffffff;
    color: #696A6E;
    z-index: 40;
}

.active:hover {
    color: #696A6E;
    background-color: #ffffff;
}

.spinner {
    display: flex;
    margin-top: 24rem;
    justify-content: center;
    align-items: center;
}