.section {
  display: flex;
  flex-direction: column;
}

.section a {
  width: fit-content;
  margin-left: auto;
  margin-right: 4rem;
}

.spinner {
  display: flex;
  margin-top: 12rem;
  justify-content: center;
  align-items: center;
}

.inform {
  font-family: 'Noto Sans KR', sans-serif;
  color: #696a6e;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12rem;
  letter-spacing: 0.05em;
}
