.item {}


.tr {
    display: flex;
    padding: 0.5rem 0;
    transition: .2s ease-out;
    border-radius: 0.5rem;
    color: #3F3F42;
}

.tr:hover {
    background-color: #ECF0FB;
}

.tr .td {
    width: 100%;
    text-align: center;
    margin: 0 0.25rem;
}

.link {
    cursor: pointer;
    font-weight: 700;
    transition: .2s ease-out;
}

.link:hover {
    color: #7986FF;
}

.tr .checkbox {
    width: 10rem;
}

.tr .align-right {
    text-align: right;
}

.text-sm {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.date {
    color: #696A6E;
    font-weight: normal;
}

.deleted {
    color: #DC493A;
}

.active {
    color: #3EC300;
}

.inactive {
    color: #FFC933;
}